body {
  background: #ADD8E6;
}

.header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  color: white;
}

footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-text {
  color: white;
  margin: 5px;
}

.footer-text a {
  color: white;
  text-decoration: none;
}

.footer-text a:hover {
  text-decoration: underline;
}